 
<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>Follow me on:</p>
    <a class="btn btn-social-icon btn-github" href="{{site.github}}"> <span class="fa fa-github"></span> </a>
    <a class="btn btn-social-icon btn-twitter" href="{{site.twitter}}"> <span class="fa fa-twitter"></span> </a><br>
    <p class="disclaimer">PREF is not affiliated to 010 Editor developers in any way, it's a completely indipendent project.<br>The scripting
        language interpreter is created using public documentation available on their website.
    </p>
</footer>
