<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.name}}</title>
    <script src="{{site.baseurl}}/js/jquery-3.2.1.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/res/brand.png">
    <link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome.css" </link>
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css" </link>
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap-social.css" </link>
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap-theme.css" </link>
    <link rel="stylesheet" href="{{site.baseurl}}/css/carousel.css" </link>
</head>
