<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{site.url}}">
                <img style="margin-top: -7px" alt="{{site.name}}" src="{{site.baseurl}}/res/brand.png">
            </a>
        </div>
        <a class="navbar-brand" href="#">{{site.name}}</a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.github}}/pref.github.io">Get</a></li>
            <li><a href="{{site.baseurl}}/roadmap/">Roadmap</a></li>
        </ul>
    </div>
</nav>